---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@styles/layout/layout.css";
// import { ClientRouter } from "astro:transitions";

const {
	title = "",
	description = "",
	image = "/images/portada.png",
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
		<!-- <ClientRouter /> -->
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<script>
	// import { allAboutTheme } from "@helpers/siteTheme";
	// import { checkLogo } from "@helpers/logoTheme";
	import { initToggleMobileMenu } from "@helpers/navMobile";
	import {
		initToggleDesktopMenu,
		initHeaderScroll,
	} from "@helpers/navDesktop";
	import AOS from "aos";
	import "aos/dist/aos.css";
	import "swiper/css/bundle";

	window.addEventListener("DOMContentLoaded", () => {
		// allAboutTheme();
		// checkLogo();
		initToggleMobileMenu(); // PARA EL MENU MOBILE
		initToggleDesktopMenu(); // PARA EL MENU DESKTOP
		initHeaderScroll(); // Ejecución inicial

		AOS.init();
	});
	window.addEventListener("scroll", initHeaderScroll);
</script>
